@charset "UTF-8";
#sK5053 {
  left: 37.25035%;
  top: 73.59158%;
}

#sK5014 {
  left: 81.80704%;
  top: 26.7325%;
}

#sK5015 {
  left: 64.05506%;
  top: 18.90609%;
}

#sK5016 {
  left: 50.29281%;
  top: 56.84049%;
}

#sK5017 {
  left: 26.4699%;
  top: 75.02914%;
}

#sK5018 {
  left: 54.75852%;
  top: 82.13657%;
}

#sK5029 {
  left: 67.58749%;
  top: 82.63581%;
}

#sK5030 {
  left: 22.86164%;
  top: 59.49588%;
}

#sK5044 {
  left: 47.66332%;
  top: 18.02756%;
}

#sK5045 {
  left: 80.3698%;
  top: 17.40874%;
}

#sK5046 {
  left: 56.95987%;
  top: 85.67049%;
}

#sK5047 {
  left: 77.31218%;
  top: 62.33102%;
}

#sK5048 {
  left: 94.54503%;
  top: 31.04517%;
}

#sK5049 {
  left: 59.75851%;
  top: 9.3626%;
}

#sK5052 {
  left: 50.79795%;
  top: 47.07728%;
}

#sK5054 {
  left: 57.98413%;
  top: 64.6669%;
}

#sK5055 {
  left: 65.58447%;
  top: 74.8094%;
}

#sK5056 {
  left: 40.85861%;
  top: 48.29549%;
}

#sK5101 {
  left: 64.69669%;
  top: 21.68143%;
}

#sK5102 {
  left: 45.70579%;
  top: 22.89926%;
}

#sK5103 {
  left: 24.34438%;
  top: 84.57262%;
}

#sK5104 {
  left: 20.35348%;
  top: 65.82495%;
}

#sK5105 {
  left: 50.17032%;
  top: 67.70158%;
}

#sK5077 {
  left: 69.07023%;
  top: 50.2917%;
}

#sK5117 {
  left: 21.24125%;
  top: 44.64162%;
}

#sK5120 {
  left: 38.73308%;
  top: 34.59889%;
}

#sK5122 {
  left: 75.09449%;
  top: 10.80016%;
}

#sK5118 {
  left: 9.512365%;
  top: 63.26933%;
}

#sK5121 {
  left: 53.64209%;
  top: 33.32127%;
}

#sK5124 {
  left: 57.4335%;
  top: 58.39801%;
}

#sK5125 {
  left: 35.64512%;
  top: 62.33102%;
}

#sK5127 {
  left: 53.09146%;
  top: 40.36893%;
}

#sK5126 {
  left: 63.84041%;
  top: 32.8822%;
}

#sK5128 {
  left: 75.049%;
  top: 26.17347%;
}

#sK5129 {
  left: 46.56207%;
  top: 38.31255%;
}

#sK5202 {
  left: 81.89921%;
  top: 26.72602%;
}

#sK5142 {
  left: 16.9902%;
  top: 56.56098%;
}

#sK5143 {
  left: 87.49533%;
  top: 35.65717%;
}

#sK5141 {
  left: 84.40621%;
  top: 61.77199%;
}

#sK5144 {
  left: 58.27462%;
  top: 54.34467%;
}

#sK5145 {
  left: 35.04783%;
  top: 83.79386%;
}

#sK5147 {
  left: 38.82524%;
  top: 32.771%;
}

#sK5119 {
  left: 41.79188%;
  top: 88.50562%;
}

#sK5148 {
  left: 53.18362%;
  top: 26.51315%;
}

#sK5155 {
  left: 75.09449%;
  top: 33.04176%;
}

#sK5156 {
  left: 53.73309%;
  top: 70.59688%;
}

#sK5146 {
  left: 21.79071%;
  top: 87.78704%;
}

#s2700 {
  left: 69.82618%;
  top: 47.09975%;
}

#s2707 {
  left: 44.29538%;
  top: 74.79379%;
}

#s5639 {
  left: 47.29818%;
  top: 40.04829%;
}

#s8468 {
  left: 86.47691%;
  top: 11.10024%;
}

#s2705 {
  left: 44.57886%;
  top: 43.44816%;
}

#s3719 {
  left: 52.38334%;
  top: 66.21452%;
}

#s58446 {
  left: 72.84648%;
  top: 48.68849%;
}

#s58446 {
  left: 71.69972%;
  top: 48.85452%;
}

#sK5056 {
  left: 41.11876%;
  top: 54.84391%;
}

#s3305236051330523 {
  left: 67.11269%;
  top: 46.85794%;
}

#s3305236001330523 {
  left: 71.69972%;
  top: 54.84391%;
}

#s2701 {
  left: 51.03943%;
  top: 77.74888%;
}

#s2702 {
  left: 18.5021%;
  top: 84.64079%;
}

#s2703 {
  left: 64.6057%;
  top: 55.34352%;
}

#s2704 {
  left: 79.80402%;
  top: 50.2917%;
}

#s2706 {
  left: 68.4566%;
  top: 84.05319%;
}

#s2708 {
  left: 61.66939%;
  top: 93.36324%;
}

#s2709 {
  left: 80.90993%;
  top: 46.56281%;
}

#s2710 {
  left: 94.45637%;
  top: 30.22681%;
}

#s2711 {
  left: 39.89851%;
  top: 30.53717%;
}

#s3703 {
  left: 87.68665%;
  top: 19.83412%;
}

#s3705 {
  left: 25.35581%;
  top: 94.52966%;
}

#s3712 {
  left: 16.16192%;
  top: 46.39487%;
}

#s3725 {
  left: 47.09286%;
  top: 30.91494%;
}

#s3728 {
  left: 70.42347%;
  top: 39.61188%;
}

#s3985 {
  left: 40.71512%;
  top: 61.86604%;
}

#s3986 {
  left: 62.99813%;
  top: 35.69144%;
}

#s3987 {
  left: 17.01003%;
  top: 71.5451%;
}

#s3988 {
  left: 11.58423%;
  top: 52.29629%;
}

#s5491 {
  left: 74.57069%;
  top: 11.48143%;
}

#s5628 {
  left: 70.99043%;
  top: 77.50935%;
}

#s5629 {
  left: 56.60173%;
  top: 58.24797%;
}

#s5630 {
  left: 68.31544%;
  top: 72.35965%;
}

#s5631 {
  left: 56.64605%;
  top: 85.95039%;
}

#s5632 {
  left: 16.9972%;
  top: 78.99108%;
}

#s5633 {
  left: 46.18292%;
  top: 58.07166%;
}

#s5634 {
  left: 22.423%;
  top: 40.64426%;
}

#s5635 {
  left: 40.79095%;
  top: 39.1907%;
}

#s5636 {
  left: 6.794213%;
  top: 57.56784%;
}

#s5637 {
  left: 86.75455%;
  top: 24.85396%;
}

#s5638 {
  left: 69.88451%;
  top: 13.66423%;
}

#s5640 {
  left: 46.50723%;
  top: 16.64407%;
}

#s6678 {
  left: 57.25385%;
  top: 45.7315%;
}

#s6876 {
  left: 72.15469%;
  top: 31.91799%;
}

#s6877 {
  left: 22.57816%;
  top: 92.53155%;
}

#s6878 {
  left: 57.06369%;
  top: 8.425806%;
}

#s6879 {
  left: 60.5168%;
  top: 74.34063%;
}

#s6880 {
  left: 79.91367%;
  top: 14.22669%;
}

#s6881 {
  left: 77.28418%;
  top: 61.61395%;
}

#s6970 {
  left: 48.86024%;
  top: 56.77918%;
}

#s6971 {
  left: 70.11433%;
  top: 43.17855%;
}

#s6983 {
  left: 86.64489%;
  top: 35.43134%;
}

#s6984 {
  left: 54.4727%;
  top: 26.75154%;
}

#s6985 {
  left: 73.18245%;
  top: 27.09579%;
}

#s7471 {
  left: 27.84998%;
  top: 51.28067%;
}

#s7472 {
  left: 22.19902%;
  top: 59.91858%;
}

#s7473 {
  left: 40.18082%;
  top: 49.19002%;
}

#s7474 {
  left: 1.921372%;
  top: 67.96891%;
}

#s7475 {
  left: 16.16192%;
  top: 46.39487%;
}

#s7538 {
  left: 34.92884%;
  top: 84.0867%;
}

#s7539 {
  left: 23.81824%;
  top: 77.8913%;
}

#s7540 {
  left: 25.35581%;
  top: 94.52966%;
}

#s7541 {
  left: 44.57886%;
  top: 87.60387%;
}

#s7542 {
  left: 40.03967%;
  top: 77.74888%;
}

#s8451 {
  left: 73.18245%;
  top: 27.09579%;
}

#s8452 {
  left: 87.5385%;
  top: 39.28438%;
}

#s8467 {
  left: 61.73822%;
  top: 18.60867%;
}

#s8469 {
  left: 57.97131%;
  top: 74.13879%;
}

#sK5353 {
  left: 21.79071%;
  top: 87.78704%;
}

#sK5352 {
  left: 53.73309%;
  top: 70.59688%;
}

#sK5355 {
  left: 72.84648%;
  top: 48.69458%;
}

#s11373 {
  left: 60.70812%;
  top: 85.68115%;
}

#s11374 {
  left: 60.21349%;
  top: 84.94695%;
}

#s11375 {
  left: 60.70579%;
  top: 85.14916%;
}

#s11371 {
  left: 60.23799%;
  top: 82.81061%;
}

#s11372 {
  left: 60.46897%;
  top: 82.35173%;
}

#s11376 {
  left: 60.21115%;
  top: 83.19104%;
}

#s11378 {
  left: 60.19482%;
  top: 83.27139%;
}

#s11370 {
  left: 23.11479%;
  top: 92.41198%;
}

#s11377 {
  left: 23.11363%;
  top: 92.32172%;
}

#s11379 {
  left: 23.13462%;
  top: 92.30269%;
}

#sK5301 {
  left: 54.75852%;
  top: 82.13657%;
}

#sK5302 {
  left: 56.95987%;
  top: 85.67049%;
}

#sK5304 {
  left: 9.512365%;
  top: 63.26933%;
}

#sK5305 {
  left: 24.34438%;
  top: 84.57262%;
}

#sK5306 {
  left: 35.64512%;
  top: 62.33102%;
}

#sK5307 {
  left: 47.66332%;
  top: 18.02756%;
}

#sK5308 {
  left: 53.64209%;
  top: 33.32127%;
}

#sK5309 {
  left: 75.09449%;
  top: 10.80016%;
}

#sK5310 {
  left: 57.4335%;
  top: 58.39801%;
}

#sK5014 {
  left: 81.80704%;
  top: 26.7325%;
}

#sK5015 {
  left: 64.05506%;
  top: 18.90609%;
}

#sK5016 {
  left: 50.29281%;
  top: 56.84049%;
}

#sK5017 {
  left: 26.4699%;
  top: 75.02914%;
}

#sK5030 {
  left: 22.86164%;
  top: 59.49588%;
}

#sK5044 {
  left: 47.66332%;
  top: 18.02756%;
}

#sK5045 {
  left: 80.3698%;
  top: 17.40874%;
}

#sK5046 {
  left: 56.95987%;
  top: 85.67049%;
}

#sK5047 {
  left: 77.31218%;
  top: 62.33102%;
}

#sK5302 {
  left: 56.95987%;
  top: 85.67049%;
}

#sK5307 {
  left: 47.66332%;
  top: 18.02756%;
}
.home-station {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  background: url("../images/home-station.png") center center no-repeat;
  background-size: cover;
}
